body {
    margin:0;
    padding:0;
}

.header {
    width:100vw;
    height:100px;
    font-family: "Lora", serif;
    font-size:50px;
    line-height:100px;
    text-align:center;
}

.main {
    /* background:blue; */
    width:100vw;
    height:100vh;
}

.sidebar {
    background:green;
    width:30vw;
    height:100vh;
    position:absolute;
    top:100px;
    right:0;
    z-index:-1;
}

p {
    margin:0;
    font-family: "Lora", serif;
    font-size:18px;
    line-height:23px;
    padding:30px;
    /* transition: all 500ms; */
}

img {
    width:60%;
    display:block;
    margin:auto;
    transition: all 500ms;
}

.blur-text:hover {
    filter:blur(4px);
    cursor: pointer;
}

.big-text:hover {
    font-size: 30px;
}

.cat-image{
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    width:300px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.images {
}

.rabbit {
    width:45%;
    display:inline-block;
}

.turtle {
    width:45%;
    display:inline-block;
}

.hide {
    opacity:0;
}

.button {
    position:absolute;
    top:10px;
    left:10px;
    background:black;
    color:white;
    padding:20px;
    border-radius:20px;
}

.modal {
    position:absolute;
    width:400px;
    height:200px;
    background:gray;
    padding:20px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:none;
}

.show {
    display:block;
}
